<!-- <div class="container">
  <div class="wrapper">

    <app-todo-form></app-todo-form>
    <br />
    <br /> -->
<!-- <app-accord>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est recusandae dicta quia deleniti repudiandae,
      consectetur numquam non accusamus odit nulla fugiat. Maiores facere aperiam, iste excepturi expedita temporibus
      eveniet similique.

    </app-accord>
    <app-accord>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est recusandae dicta quia deleniti repudiandae,
      consectetur numquam non accusamus odit nulla fugiat. Maiores facere aperiam, iste excepturi expedita temporibus
      eveniet similique.

    </app-accord> -->

<!-- </div>
</div> -->
<div class="container">
  <div class="header">
    <span class="logo"><img src="../assets/to-do-list.png" /></span>
  </div>
  <div>
    <app-todo-form></app-todo-form>
  </div>

  <div style="margin: 10px 0;">
    <app-show-list></app-show-list>
  </div>
</div>