<div class="container">
    <div class="wrapper">

        <div class="head">
            <div style="display: flex;align-items: center;column-gap: 10px;">
                <div><img src="../../assets/checklist.png" width="30px" /></div>
                <div class="label">Todos</div>
            </div>
        </div>

        <div class="grid">
            <div class="gridCont1">
                <div class="item item1">items</div>

                <div class="item item3">Actions</div>
            </div>


            <div class="gridCont2" *ngFor="let todo of todos ">
                <div [ngClass]="todo.status== true ? 'todoComplete' : ''" class="item21">{{todo.todoItem}}</div>

                <div class="item23">
                    <button title="Complete a Todo" [ngClass]="todo.status== true ? 'disable' : 'complete'"
                        (click)="completeTodo(todo.id)"><span>
                            <fa-icon [icon]="faClipboardCheck"></fa-icon>
                        </span></button>
                    <button title="Delete a Todo" (click)="deleteTodo(todo.id)" class="delete">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                    <button title="Update a Todo" (click)="updateTodo(todo)" class="update">
                        <fa-icon [icon]="faEdit"></fa-icon>
                    </button>
                </div>



            </div>




        </div>

    </div>